@charset "UTF-8";

@media (max-width: 1225px) and (min-width: 800px) {

    :root {
        --pricipal: #e5d2b2;
        --secundario: #EE6C4D;
        --terciario: #33312E; 
    }

    * {
        margin: auto;
    }

    header {
        background-image: url(../imagens/head-m.png);
        width: auto;
    }

    h1 {
        font-size: 5em;
    }

    aside#promocao {
        margin-bottom: 10px;
        margin-top: 20px;
    }

    div#cabecalho {
        padding-right: 550px;
    }

    main {
        width: auto;
    }

    aside#vsMobile {
        display: none;
        background-color: rgba(255, 255, 255, 0.432);
        margin: auto;
        padding: 6px;
        border-radius: 20px;
        width: 640px;
        position: absolute; 
        top: 570px;
    }

    img.vsMobile {
        height: 200px;
        border-radius: 20px;
        border: 2px solid var(--pricipal);
        transition: .5s;
    }

    div#comprimido {
        margin: auto;
        
        
    }

    img.album {
        height: 150px;
        margin-top: 20px;
    }

    img.album:hover {
        border: 2px solid var(--pricipal);
        margin: 20px 0px 150px -80px;
        height: 150px;
        box-shadow: initial;
        transform: rotate(15deg);
    }

    section#album{
        padding-top: 50px;
    }

    section#album p {
        margin: -23px -65px;
    }

    section#emocional img {
        margin: -18px -135px;
        z-index: 1000px;
        position: relative;
    }

    section#emocional p {
        margin: -40px 5px;
    }

    section#logico p {
        z-index: 1000px;
        position: relative;
    }

    section#logico img{
        margin: -152px;
        margin-left: 147px;
    }

    section#racional p{
        margin: -1061px 0px 0px -131px;
        
        height: 360px;

    }

    section#racional img {
        margin: 740px 0px 0px -193px;
        z-index: 1000px;
        position: relative;
    }

    section#faq {
        width: 500px;
    }

    footer {
        margin: 0px;
    }
}