@charset "UTF-8";

@media (max-width: 799px) {



    header{
        background-image: url(../imagens/head-p.png);
        margin: center;
        width: 450px;
    }

    h1 {
        margin-bottom: 100px;
    }

    p#slogan {
        font-size: 1.4em;
    }

    main {
        width: 450px; 
        margin: auto;
    }

    section#album {
        padding-left: 116px;
    }

    section#album p {
        margin-left: -90px;
        width: 307px;
    }

    img.album {
        height: 125px;
        margin-top: 50px;
    }

    img.album:hover {
        border: 2px solid var(--pricipal);
        margin: 50px 0px 150px -80px;
        height: 125px;
        box-shadow: initial;
        transform: rotate(15deg);
    }

    section#emocional img {
        height: 350px;
    }

    #emocional p {
        font-size: 1em;
        margin: -26px 25px 0px -194px;
        padding: 35px 60px 80px 60px;
    }

    section#logico img {
        height: 375px;
        margin: 50px;
        margin-left: -118px;
    }

    #logico p {
        font-size: 1em;
        
        margin-bottom: -80px;
        position: relative;
        z-index: 1000px;
    }

    section#racional img {
        height: 350px;
    }

    #racional p {
        font-size: 1em;
        padding: 115px 24px 200px 12px;
        margin: -37px -25px 6px -261px;
        border-radius: 40px 25%;
    }

    section#faq {
        width: 325px;
    }

    
    section#faq h2 {
        font-size: 2 em;
        text-align: center;
        padding: 0px;
        margin: 0px;
        display: block;
    }

    footer {
        font-size: 1em;
        margin: auto;
        width: 400px;
    }

}